* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-size: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 19px 36px;
    cursor: pointer;
}

/* Main Style */

header {
    background: #FFF8F3;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right ;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner banner-img img {
    max-width: 585px;
    vertical-align: middle;
}