* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-size: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 19px 36px;
}

/* Main Style */

header {
    background: #FFF8F3;
    padding-top: 50px;
}

nav {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
